<?xml version='1.0' encoding='utf-8'?>
<widget id="com.berketelsaba.pizza" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NewPhP</name>
    <description>
NewPhP new
    </description>
    <author email="amrelblshy2013@gmail.com" href="http://fekratak.net">
pizza fekratak
    </author>
    <content src="index.php" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
		<icon qualifier="ldpi" src="icon.png"/>
		<icon qualifier="mdpi" src="icon.png"/>
		<icon qualifier="hdpi" src="icon.png"/>
		<icon qualifier="xhdpi" src="icon.png"/>
		<icon qualifier="xxhdpi" src="icon.png"/>
		<icon qualifier="xxxhdpi" src="icon.png"/>
		<icon qualifier="ldpi" src="icon.png"/>
		<icon qualifier="hdpi" src="icon.png"/>
		<icon qualifier="xhdpi" src="icon.png"/>
        <preference name="android-minSdkVersion" value="28" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
</widget>
